In [34]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn import linear_model
from sklearn.datasets import load_iris
%matplotlib inline

### iris dataset from sklearn.datasets

In [35]:
#object of dataset
iris=load_iris()

In [36]:
dir(iris)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [37]:
iris.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [38]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [39]:
df=pd.DataFrame(iris.data,columns=iris.feature_names)

In [40]:
df['target']=iris.target

In [41]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

In [42]:
# mapping target name with the dataframe on the basis of target column
df['target_name']=list(map(lambda x:iris.target_names[x],df['target']))

In [43]:
df.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,target_name
0,5.1,3.5,1.4,0.2,0,setosa
1,4.9,3.0,1.4,0.2,0,setosa
2,4.7,3.2,1.3,0.2,0,setosa
3,4.6,3.1,1.5,0.2,0,setosa
4,5.0,3.6,1.4,0.2,0,setosa

### Dataset splitting

In [44]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df[['sepal length (cm)','sepal width (cm)','petal length (cm)','petal width (cm)']],df['target_name'])

In [45]:
x_train.head()

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
40                 5.0               3.5                1.3               0.3
72                 6.3               2.5                4.9               1.5
81                 5.5               2.4                3.7               1.0
114                5.8               2.8                5.1               2.4
123                6.3               2.7                4.9               1.8

## Random Forest Classifier

In [58]:

from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier(n_estimators=100) # n_estimators= no. of decision tree

In [59]:
model.fit(x_train,y_train)

RandomForestClassifier()

In [60]:
model.predict(x_test)

array(['virginica', 'virginica', 'setosa', 'versicolor', 'virginica',
       'virginica', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'virginica', 'virginica', 'setosa', 'virginica', 'versicolor',
       'setosa', 'versicolor', 'setosa', 'virginica', 'setosa',
       'versicolor', 'versicolor', 'virginica', 'virginica', 'virginica',
       'versicolor', 'versicolor', 'versicolor', 'setosa', 'versicolor',
       'setosa', 'setosa', 'setosa', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'versicolor'], dtype=object)

In [61]:
model.score(x_test,y_test)

0.9736842105263158